{% extends "base.html" %}

{% block content_id %}region{% endblock %}
{% block content %}

<nav id="breadcrumb">
  <ul>
    <li><a href="/">Home</a></li>
    <li>{{ region }}</li>
  </ul>
</nav>

<ul class="service_list">
  {% for service in services %}

    <li>
      <img src="{{ STATIC_URL }}images/status/{{ service.status.image }}" alt="Status Image" />
      <a href="/services/{{service.slug}}">{{ service.name }}</a>
    </li>

  {% endfor %}
</ul>

<h2>Legend</h2>
<ul class="status_list">
  {% for status in statuses %}

    <li>
      <img src="{{ STATIC_URL }}images/status/{{ status.image }}" alt="Status Image" />
      {{ status.description }}
    </li>

  {% endfor %}
</ul>

{% endblock %}
