{% extends "base.html" %}

{% block content_id %}service_detail{% endblock %}
{% block content %}

<nav id="breadcrumb">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/regions/{{ service.region.slug }}">{{ service.region }}</a></li>
    <li>{{ service.name }}</li>
  </ul>
</nav>


<section class="sidebar">

{% with status=service.status %} 
  <img src="{{ STATIC_URL }}images/status/{{ status.image }}" alt="Status Image" />
  <strong>{{ status.description|upper }}</strong>
{% endwith %}

<h3>Feeds</h3>
<ul>
  {% for feed in service.feeds %}
  <li>
    <a href="#">
      <img src="{{ STATIC_URL }}images/feed.png" alt="RSS icon"/>
      {{ feed }}
    </a>
  </li>
  {% endfor %}
</ul>

<h3>Archives</h3>
<ul>
  {% for a in service.archives %}
  <li>
    <a href="#">{{ a }}</a>
  </li>
  {% endfor %}
</ul>

</section>

<section class="main">

  <h1>{{ service.name }}</h1>

  {% if announcements %}
  <h2>Annoucements</h2>
  <ul>
    {% for a in announcements %}
    <li>
      <h3>{{ a.title }}</h3>
      <time datetime="{{ a.created }}" pubdate>
        {{ a.created|date:"M-j-Y" }}
      </time>
      <p>{{ a.message }}</p>
    </li>
    {% endfor %}
  </ul>
  {% endif %}

  <div class="issues">
    {% if issues %}
    <h2>Open Issues</h2>
    <table id="issues">
      <tbody>
        {% for issue in issues %}
        <tr>
          <td>{{ issue.opened|date:"M-j-Y" }}</td>
          <td><a href="/issues/{{issue.pk}}">{{ issue }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <h2>Issues</h2>
    <p>Hooray! No open issues! View old issues in the <a href="#">Archive</a></p>
    {% endif %}
  </div>

</section>


{% endblock %}
